.vertical-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

html {
    font-size: 72.5%;
}

body {
    background:whitesmoke;
}

.row {
    display: flex;
    width: 100%;
}